apiVersion: v1
kind: Service
metadata:
  name: demo-nginx-svc
  namespace: {{ demo_namespace }}
spec:
  type: ClusterIP
  selector:
    app: demo-nginx
  ports:
    - name: http
      port: 80
      targetPort: 80
