apiVersion: v1
kind: Service
metadata:
  name: "{{ ric_e2term_nodeport_service_name }}"
  namespace: "{{ ric_e2term_namespace }}"
  labels:
    app.kubernetes.io/managed-by: ansible
spec:
  type: NodePort
{% if ric_e2term_external_ip | default('') | length > 0 %}
  externalIPs:
    - "{{ ric_e2term_external_ip }}"
{% endif %}
  selector:
{% for key, value in ric_e2term_selector.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
  ports:
    - name: e2term-sctp
      protocol: SCTP
      port: {{ ric_e2term_service_port }}
      targetPort: {{ ric_e2term_target_port }}
      nodePort: {{ ric_e2term_nodeport }}
